@media print {
  #toolbar,
  .page-title,
  .views-field-views-bulk-operations,
  .breadcrumb a,
  .breadcrumb span,
  input.vbo-table-select-all, input.vbo-select, td.checkbox input.form-checkbox,
  #edit-select {
    display: none !important;
  }
  .views-table {
    font-size: 120%;
  }
  .page-admin-commerce-orders-fulfil-international tbody td:nth-child(3),
  .page-admin-commerce-orders-fulfil-international th:nth-child(3),
  .page-admin-commerce-orders-fulfil-international .views-field-created {
    display: none !important;
    width: 0 !important;
    overflow: hidden !important;
    text-indent: -666em !important;
  }
}
